
# Backend environment variables
MONGODB_URI=mongodb+srv://shahdevu236_db_user:Devansh236@cluster0.s3lvo9w.mongodb.net/?appName=Cluster0
JWT_SECRET=svga_book_bank_jwt_secret_2024
MSG91_API_KEY=360149ASlGKrTE3y60923defP1
MSG91_TEMPLATE_ID=60990d5f895ca529bd69e429
MSG91_COUNTRY_CODE=91
EMAIL_USER=
EMAIL_PASSWORD=
PORT=3001
NODE_ENV=production
CORS_ORIGIN=

